/* Basic Styling */
*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    width: 100%;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

h1,h2,h3{
    font-weight: bold;
}

a{
    text-decoration: none;
    color: inherit;
}

a::after{
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  
}

a:hover{
    text-decoration: none;
    color: #f2f2f2;
}

a:hover:after { 
    width: 100%; 
    left: 0; 
  }

button{
    border: 0;
    border-radius: 6px;
    background-color: #f2c44c;
    color: #fff;
    padding: .75rem;
    margin: 1.5rem 0;
}

button:hover{
    transform: scale(1.1);
    color: #f2f2f2;
}

.cover{

    background: url('../images/bg-her.png');
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
}

/* Navbar */
.navbar-trans > .logo, .logo{
    color: #f2c44c;
    border-bottom: 2px solid #f2c44c;
    font-size: 26px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link:hover{
    color: #f2c44c;
}

/* Hero-section */

.hero-section{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.hero-heading{
    font-size: 36px;
    font-weight: 600;
}

/* About Section */

#about{
    display: flex;
    justify-content: space-between ;
}

.about-content{
    width: 45%;
    text-align: center;
}

.about-content-heading{
    text-decoration: underline;
    text-decoration-color: #f2c44c ;
    margin: 1.5rem 0;
}

.about-img{
    width: 50%;
}

.about-img img{
    width: 100%;
}


.card{
    margin: 1rem 0;
    border: 0;
}

/* Team Section */

#team{
    background-color: #f2f2f2;
}

.team-profile{
    margin: 2rem 1rem;
}

.team-profile-img{
    width: 100%;
}

.team-profile-img img{
    width: 90%;
    margin-bottom: 1.5rem;
}

.team-profile-bio{
    text-align: center;
}

/* Contact Section */

#contact{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: #fff;
}

@media(max-width:768px){
    .cover{
        background-position: center;
    }
    .hero-heading{
        font-size: 39px;
    }
    #about{
        flex-direction: column;
    }
    .about-img{
        text-align: center;
        width: 85%;
        align-self: center;
    }
    .about-img img{
        width: 85%;
    }
    .about-content{
        width: 100%;
    }
    .contact-form{
        margin-top: 2rem;
    }
}